<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Horizontal Slider</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
      <style>body {
  overflow: hidden;
}

#slider {
  white-space: nowrap;
  margin-top: 20px;
  width: calc((200px + 20px) * 16 + 20px);
  height: 300px;
  will-change: transition;
  transition: 70ms all;
}

#slider div {
  float: left;
  height: 300px;
  width: 200px;
  margin-left: 20px;
  color: white;
  font-weight: 700;
  text-align: center;
  line-height: 300px;
  font-size: 3em;
  transition: transform 250ms ease;
  transform: perspective(500px);
}
#slider div:hover {
  transform: perspective(500px) translatez(50px);
}
#slider div::last-child {
  margin-right: 20px;
}
</style>

  
</head>

<body>

  <div id='slider'>
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
  <div>5</div>
  <div>6</div>
  <div>7</div>
  <div>8</div>
  <div>9</div>
  <div>10</div>
  <div>11</div>
  <div>12</div>
  <div>13</div>
  <div>14</div>
  <div>15</div>
  <div>16</div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

  

    <script>var sliderWidth = $('#slider').width();
var docWidth = $(window).width();
var mouseX = 0;
var mouseXPercentage = 0;
var translateValue = 0;

$(document.body).mousemove(function(event) {
  mouseX = event.clientX;
  mouseXPercentage = mouseX / docWidth;
  translateValue = (sliderWidth - docWidth) * mouseXPercentage;
  $('div#slider').css('transform', 'translate\(-' + translateValue + 'px' + '\, 0px\)');
});

var bgRed = 0;
var bgBlue = 0;
var bgGreen = 0;
var colorProperty = 0;
$('#slider div').each(function() {
  bgRed = GenerateColor();
  bgBlue = GenerateColor();
  bgGreen = GenerateColor();
  colorProperty = 'rgb\(' + bgRed + ', ' + bgGreen + ', ' + bgBlue + '\)'
  $(this).css('background-color', colorProperty)
})

function GenerateColor() {
  return Math.floor(Math.random() * 255);
}</script>




</body>

</html>
