<head>
  <% stylesheet_link_tag "recipes" %>
</head>
<br>
<h3>Paste the URL of the recipe you would like to import!</h3>
<center>
<input  id='url-text-box' type="text" placeholder="Paste URL here" style="width: 75%; height: 40px; font-size: 20px; margin-top:70px; padding: 5px;">
<br>
<br>
<button class='btn btn-outline btn-xl page-scroll' onclick=parseUrl()>Import</button>
</center>
<body>
</body>