<head>
  <% stylesheet_link_tag "recipes" %>
</head>
<h3>Paste the URL of the recipe you would like to import</h3>
<center>
<input type="text" placeholder="Paste URL here" style="width: 75%; height: 40px; font-size: 20px; margin-top:30px; padding: 5px;">
</center>