<section id="features" class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-heading">
          <h2>Features</h2>
          <p class="text-muted">An all-in-one solution - packed with powerful features.</p>
          <hr>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen">
                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <!--<img src="/assets/new_age/demo-screen-1.jpg" class="img-responsive" alt=""> --> </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <div class="feature-item">
                  <i class="glyphicon glyphicon-book text-primary"></i>
                  <h3>Recipes</h3>
                  <p class="text-muted">Search for a recipe from our database or upload one of your own. Afterwards review, save, or share recipes of your choice!</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="feature-item">
                  <i class="glyphicon glyphicon-calendar text-primary"></i>
                  <h3>Meal Plans</h3>
                  <p class="text-muted">Explore Grocery Guru's meal plans or upload your own to customize your meal-planning calendar for each meal of the day, week, or month!</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="feature-item">
                  <i class="glyphicon glyphicon-list text-primary"></i>
                  <h3>Grocery List</h3>
                  <p class="text-muted">A grocery list is automatically created using the ingredients from the recipes or meal plans of your choice. Add, remove, or modify items on the list.</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="feature-item">
                  <i class="glyphicon glyphicon-shopping-cart text-primary"></i>
                  <h3>Integration with Online Stores</h3>
                  <p class="text-muted">All items from your shopping list can be exported to an online store of your choice and ready for pickup or delivery in just a number of clicks!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
