<footer>
  <div class="container">
    <p>© 2018 Grocery Guru. All Rights Reserved.</p>
    <ul class="list-inline">
      <li>
        <a href="#">Contact Us</a>
      </li>
    </ul>
  </div>
</footer>
