<section id='getstarted' section class="cta">
  <div class="cta-content">
    <div class="container">
      <h2>Stop waiting.<br>Start cooking.</h2>
      <%= link_to '<class="btn btn-outline btn-xl page-scroll">Let\'s Get Started!</a>'.html_safe, new_user_path %>
    </div>
  </div>
  <div class="overlay"></div>
</section>
