<section id='getstarted' section class="cta">
  <div class="cta-content">
    <div class="container">
      <h2>Stop waiting.<br>Start cooking.</h2>
      <%= link_to 'Let\'s Get Started!', new_user_path, class: "btn btn-outline btn-xl page-scroll"%>
    </div>
  </div>
  <div class="overlay"></div>
</section>
