<section id="howitworks" class="download bg-primary text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="section-heading">How it works:</h2>
        <p>Pick a recipe or a meal plan that you would like to try out</p>
        <i class="fa fa-arrow-down"></i><br><br>
        <p>Automatically convert recipes to a shopping list using the ingredients from the recipe</p>
        <i class="fa fa-arrow-down"></i><br><br>
        <p>Modify shopping lists by adding, removing, or adjusting any of the items on the list</p>
        <i class="fa fa-arrow-down"></i><br><br>
        <p>Lists can be sent to online grocery stores for easy pickup or delivery</p>
        <i class="fa fa-arrow-down"></i><br><br>
        <p>Prepare your ingredients according to the Grocery Guru recipe and enjoy</p>
      </div>
    </div>
  </div>
</section>
