<head>
    <%= stylesheet_link_tag "users_edit" %>
</head>
<h2>User Profile</h2>
<div class="left">
   Your Information
</div>
<div class="right">
<%= render 'form' %>
</div>
<br>
<div class='bottom'>
<%= link_to 'Show', @user %> |
<%= link_to 'Back', @user %></div>
