<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Grocery Guru</title>
  <meta name="description" content=""/>
  <style>
     h1 {
    color: white;
    text-align: center;
    text-shadow: 1px 1px black;
    font-family: "Primetime", "Arial Black", sans-serif;
  }
  h2 {
    color: white;
    text-shadow: 1px 1px black;
  }
  html {
    margin: 0;
    padding: 0;
    font-family: "Futura", Roboto, Arial, sans-serif;
    font-size: 62.5%;
    background-image: url(/assets/background.jpg);
  }
  </style>
</head>
  <body class="">
    <div class="message">
      <div class="text">
        <h1><br><br><br><br>GROCERY GURU</h1>
        <h2>Grocery Shopping Made Easy.</h2>
      </div>
    </div>
    <br><br>
    <div id="inner">
      <button class="button" onclick=" $(location).attr('href', 'signup')">SIGN UP</button>
      <button class="button" onclick=" $(location).attr('href', 'login')">LOG IN</button></div>
    <div class="push"></div>
  </div>

</body>
</html>
