<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Grocery Guru</title>
  <meta name="description" content=""/>
</head>
  <body class="">

    <header>
      <nav class="website-nav">
        <ul>
          <li><a class="recipes" href="recipes.html">Recipes</a></li>
          <li><a class="calendar" href="calendar.html">Calendar</a></li>
          <li><a class="cart" href="cart.html">Cart</a></li>
          <li><a class="profile" href="profile.html">Your Profile</a></li>
        </ul>
      </nav>
    </header>

    <div class="message">
      <div class="text">
        <h1><br><br><br>Welcome to Grocery Guru!</h1>
        <h2>Grocery Shopping Made Easy.</h2>
      </div>
    </div>
    <br><br><br>
    <div id="inner">
      <button class="button">SIGN UP</button>
      <button class="button">LOG IN</button></div>
    <div class="push"></div>
  </div>

  <footer>
    <p class="footer-contents">University of Utah - 2017
      <br>Michelle Nguyen, Rob Olsen, Adam Sorensen, Tanner Wilson
    </p>
  </footer>

  <script src="js/set-background.js"></script>
</body>
</html>
