#wrap {
  width: 1500px;
  margin: 0 auto;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

#external-events {
  float: left;
  width: 250px;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
  text-align: left;
}

#external-events h4 {
  font-size: 16px;
  margin-top: 0;
  padding-top: 1em;
}

#external-events .fc-event,
.fc-event-1,
.fc-event-2 {
  background-color: #55AE3A;
  border: 0px;
  margin: 5px 0;
  cursor: pointer;
  padding: 7px;
}

#external-events p {
  margin: 1.5em 0;
  font-size: 11px;
  color: #666;
}

#external-events p input {
  margin: 0;
  vertical-align: middle;
}

#calendar {
  float: right;
  width: 200px;
}

.mb-20 {
  margin-bottom: 20px;
}

.popover-content {
  height: 200px;
  overflow-y: scroll;
}

#search-form {
  padding-bottom: 5px;
}

.fa-cog {
  color: red;
}

#calendarTrash {
  color: gray;
}
