* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -ms-scroll-chaining: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.parent::-webkit-scrollbar {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.parent {
  position: relative;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  backface-visibility: hidden;
  will-change: overflow-y;
  font-size: 0;
}

.child {
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  padding: 0 11px;
  font-size: 14px;
}
