h1 {
    margin-left: 0.5em;
    text-align: left;
}
a {
    color: green;
}
.left {
    float: left;
    background-color: green;
    width: 29.8%;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    border-style: solid;
    border-width: 1 px;
    border-color: white;
}
.right {
    float: right;
    background-color: rgba(255, 255, 255, 0.2);
    width: 69.6%;
    text-align: left;
}
.bottom {
    float: left;
    width: 30%;
    text-align: center;
}