@import url(https://fonts.googleapis.com/css?family=Abel|Indie+Flower|Lobster);
@import url(http://weloveiconfonts.com/api/?family=entypo);


.recipe {
  background:#f1f1f1;
  max-width:270px;
  height:245px;
  position:relative;
  display:inline-block;
  overflow:hidden;
  cursor: pointer;
  margin:0 10px 10px 0;
  -webkit-border-radius:0 0 7px 7px;
  border-radius:0 0 7px 7px;
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}
.image {
  height:200px;
  overflow:hidden;
  position:relative;
}
.image img{
  width:100%;
  transition: all 1s ease;
  margin-top:-70px;
}
.image:hover img{
  transform: scale(1.2) rotate(-3deg);
  -ms-transform: scale(1.2) rotate(-3deg); /* IE 9 */
  -webkit-transform: scale(1.2) rotate(-3deg); /* Safari and Chrome */
}
.fa-heart-o:hover {
  animation-name: pulse; 
  animation-duration: 0.5s; 
  animation-iteration-count: infinite; 
  -webkit-animation-name: pulse; 
  -webkit-animation-duration: 0.5s; 
  -webkit-animation-iteration-count: infinite; 
}
.name {
  width:100%;
  height:auto;
  background:#6B8E23;
  opacity: 0.85;
  filter: alpha(opacity=85); /* IE8 and Lower */
  zoom: 1; /* set "zoom", "width" or "height" to trigger "hasLayout" in IE 7 and lower */
  overflow:hidden;
  position:absolute;
  bottom:0;
  text-align: center;
  vertical-align: middle;
  border-bottom:1px dotted #339187;
  font-size: small;
}
h3 {
  font-size: small;
  color: white;
  padding-bottom:4px;
}
.media {
  width:100%;
  font-size:1em;
  color:#777;
  text-align: center;
  vertical-align: middle;
  margin-left: -20px;
}
.media li {
  display:inline-block;
  padding:0 7px;
}

/* Pulse Animation for Firefox, Opera and Internet Explorer 10 */
@keyframes pulse {
  from {
    transform: scale(1.0);
    opacity: 1.0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1.0;
  }
  to { 
    transform: scale(1.0);
    opacity: 1.0;
  }
}
/* Pulse Animation for Google Chrome and Safari */
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1.0);
    opacity: 1.0;
  }
  50% {
    -webkit-transform: scale(1.2);
    opacity: 1.0;
  }
  to { 
    -webkit-transform: scale(1.0);
    opacity: 1.0;
  }
}