<head>
  <%= stylesheet_link_tag "list" %>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<br>

<script>swal({
  title: '<b>Walmart</b>',
  type: 'info',
  html:
    'Sign into Walmart to Complete Checkout<br>' +
    '<a href="https://www.walmart.com/account/login" target="_blank">Sign In</a> ',
  showCloseButton: true,
  focusConfirm: false,
  confirmButtonText:
    '<i class="fa fa-thumbs-up"></i> I Signed In!',
  confirmButtonAriaLabel: 'Thumbs up, great!',
})</script>

<button class="btn btn-outline btn-xl page-scroll" onclick="window.location='/checkout?index=1'"> Next</button>

<div style="padding:15px;">
<iframe src=<%= @walmart_url %> onload="this.width=screen.width;this.height=screen.height;"></iframe>
</div>

<div class="icon-bar">
  <a href="/recipes"><i class="fa fa-search"></i></a> 
  <a href=""><i class="fa fa-print" onclick=printpage()></i></a> 
  <a href=""><i class="fa fa-sign-in" onclick="window.open('https://grocery.walmart.com','_blank')"></i></a> 
</div>
<br>
<center>

<br>
<br>
<!--<button class="button" onclick=" $(location).attr('href', 'create_list')">Send To Store</button></center>-->
