<head>
  <%= stylesheet_link_tag "list" %>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="icon-bar">
  <a href="/recipes"><i class="fa fa-search"></i></a> 
  <a href=""><i class="fa fa-print" onclick=printpage()></i></a> 
  <a href=""><i class="fa fa-sign-in" onclick="window.open('https://grocery.walmart.com','_blank')"></i></a> 
</div>
<h1>Grocery List</h1>
<br>
<center>
  <div class="container1">
<table>
  <thead>
    <tr>
      <th colspan="2">Ingredients</th>
    </tr>
  </thead>
  <tbody>
    <% @ingredients.each do |name| %>
        <tr>
          <td><input type="checkbox" value="selectedRecipe" checked></td>
            <td><%= name %></td>
        </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<br>
<!--<button class="button" onclick=" $(location).attr('href', 'create_list')">Send To Store</button></center>-->
<button class="button" onclick=printpage()> Print</button>
<button class="button" onclick=" window.open('https://grocery.walmart.com','_blank')"> Export to Store</button>

