<head>
  <style>
    button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.container1 {
  overflow: scroll;
  background-color: #f2f2f2;
  width: 25%;
  height: 100%;
}
thead th {
  margin: 2px 0px;
  border-bottom: 2px solid #E3E3E3; 
  font-size: 20px;
  padding: 5px 0px;
  padding-left: 20px;
  text-align: center;
  padding-right: 15px;
  color: #565656;
  overflow: hidden;
}

tbody tr td {
    border-bottom: 2px solid #E3E3E3; 
    color: #004000;
}
.icon-bar {
    position: fixed;
    z-index: 2;
    width: 40px; /* Set a specific width */
    background-color: #555; /* Dark-grey background */
    top: 50%;
    right: 0;
}

.icon-bar a {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 4px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 20px; /* Increased font-size */
}

.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
}

.active {
    background-color: #4CAF50; /* Add an active/current color */
}
  </style>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="icon-bar">
  <a href="/recipes"><i class="fa fa-search"></i></a> 
  <a href=""><i class="fa fa-print" onclick=printpage()></i></a> 
  <a href=""><i class="fa fa-sign-in" onclick="window.open('https://grocery.walmart.com','_blank')"></i></a> 
</div>
<h1>Grocery List</h1>
<br>
<center>
  <div class="container1">
<table>
  <thead>
    <tr>
      <th colspan="2">Ingredients</th>
    </tr>
  </thead>
  <tbody>
    <% @ingredients.each do |name| %>
        <tr>
          <td><input type="checkbox" value="selectedRecipe" checked></td>
            <td><%= name %></td>
        </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<br>
<!--<button class="button" onclick=" $(location).attr('href', 'create_list')">Send To Store</button></center>-->
<button class="button" onclick=printpage()> Print</button>
<button class="button" onclick=" window.open('https://grocery.walmart.com','_blank')"> Export to Store</button>

