<h1>StoreDisplay#index</h1>
<p>Find me in app/views/store_display/index.html.erb</p>

<button class="button" onclick="prev"> Previous</button><button class="button" onclick="next"> Next</button>
<iframe src="https://grocery.walmart.com/products?query=apple" onload="this.width=screen.width;this.height=screen.height;"></iframe>
